*   {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  /* position: relative; */
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* GRID */
.container{
  max-width:120rem;
  margin: 0 auto;
  padding: 1.5rem;
}

/* HEADER */
.header{
  background:#2b2b2b;
  position: fixed;
  width: 100%
}
.header .branding h3 {
  color:#ffffff;
  font-size:2.5rem;
  font-weight: 600;
}
.header .branding h3 span{
  color:#ffa700;
}
.header .branding{
  display:flex;
  align-items: center;
  gap: 2rem;
}
.header .header__nav ul li a{
  color: #ffffff;
  font-size: 1.8rem;
}
.header .header__nav ul{
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.header .header__nav ul li:hover a{
  color:#ffa700;
}
.header .header__nav ul li:hover{
  scale: 1.1;
  transition: 0.5s ease;
}
.header .header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .toggle__menu{
display:none;
}
.header .toggle__menu span{
width:3rem;
height:0.3rem;
border-radius:5rem;
background-color:#ffa700;
display:block; 
transition:0.5s ease;
}
.header .toggle__menu span:nth-child(2){
margin:0.5rem 0;
}
.header .toggle__menu.open span:first-child{
transform: translateY(8px) rotate(225deg);
transition:0.5s ease;
}
.header .toggle__menu.open span:nth-child(2){
opacity:0;
}
.header .toggle__menu.open span:last-child{
transform: translateY(-8px) rotate(-225deg);
transition:0.5s ease;
}
.header .header__nav.open {
right: 0rem;
transition: 0.5s ease;
}
/* HEADER MOBILE VIEW */
@media screen and (max-width:500px) {
.header .header__nav{
  background:#2b2b2b;
  position: absolute;
  right: -100rem;
  top: 8rem;
  width: 100%;
  height: 100vh;
  padding-top: 10rem;
}
.header .header__nav ul{
  display: flex;
  flex-direction: column;

}
.header .branding img{
  width:5rem;
}
.header .toggle__menu{
  display:block;
}
}

/* BANNER */
.banner{
padding-top: 13rem;
padding-bottom: 5rem;
background:#ffffff;
}
.banner .banner__wrapper {
display: grid;
grid-template-columns:1fr 1fr;
align-items:center;
gap: 5rem
}
.banner .banner__text h1 {
font-size: 10rem;
font-weight:800;
color:#ffa700;
line-height:1;
}
.banner .banner__text p {
margin-top: 5rem;
margin-bottom: 3rem;
text-align: justify;
}
@media screen and (max-width:500px){
.banner{
  padding-left:2rem;
  padding-right:2rem;
}
.banner .banner__wrapper {
  display:grid;
  grid-template-columns: 1fr;
  
}
.banner .banner__text{
  order: 2;
}
.banner .banner__text h1{
  font-size: 3rem;
  text-align: center;
}
.banner .banner__text a{
  display: flex;
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 3rem;
}
.banner img{
  width: 20rem;
  margin: 0 auto
}
}
/* ABOUTME */
.aboutme .aboutme__wrapper{
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
gap: 1rem;
}
.aboutme .aboutme__wrapper :nth-child(1){
order: 2;
}
.aboutme .aboutme__text h1{
font-size: 3rem;
font-weight:600;
color:#ffa700;
line-height: 5;
}
.aboutme .aboutme__text p {
margin-bottom: 3rem;
text-align: justify;
}
/* MobileView */
@media screen and (max-width:500px){
.aboutme{
  padding-left: 2rem;
  padding-right: 2rem;
}
.aboutme .aboutme__wrapper {
  display:grid;
  grid-template-columns: 1fr;
}
.aboutme .aboutme__text h1{
  font-size: 27px;
  text-align: center;
}
.aboutme img{
  width: 20rem;
  margin:  0 auto;
}
}

/* SRVC */
.srvc {
background: #2b2b2b;
padding:5rem 0;
}
.srvc .srvc__wrapper{
display:grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 8rem;
}
.srvc .srvc__card{
text-align: center;

}
.srvc .srvc__card i {
color:#ffa700;
font-size: 10rem;
}
.srvc .srvc__card h4 {
color:#ffa700;
font-size: 1.8rem;
font-weight: 600;
margin: 2rem 0;
}
.srvc .srvc__card p{
color:#ffffff;
margin-bottom: 5rem;
text-align: justify;
}

@media screen and (max-width:500px){
.srvc .srvc__wrapper{
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 2rem;
  gap: 15rem;
}
.srvc .srvc__card a{
  border-radius: 2rem;
  padding: 1rem;
}
}
/* LATEST */
.latest {
background: #2b2b2b;
padding:5rem 0;
}
.latest .latest__wrapper{
display:grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 5rem;
}
.latest .latest__title h2 {
color:#ffa700;
font-size: 5rem;
font-weight: 600;
}
.latest .latest__title p {
color: #ffffff;
font-size: 2.5rem;
}
.latest .latest__title {
margin-bottom: 8rem;
}
.latest .latest__card {
background: #ffffff;
border-radius: 2rem;
}
.latest .latest__text {
padding: 1.5rem 2rem;
}
.latest .latest__text h4{
color:#ffa700;
font-weight: 600;
}
.latest .latest__text p {
margin-top: 2rem;
margin-bottom: 4rem;
}
.latest .latest__text a {
color:#ffa700;
}

@media screen and (max-width: 500px){
.latest .latest__title {
  text-align: center;
}
.latest .latest__title h2 {
  font-size: 4rem;
}
.latest .latest__wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
.latest .latest__card {
  margin: 0 2rem;
}
.latest .latest__card img {
  width: 100%;
}
}
/* Free */
.free {
background: #ffa700;
}
.free .free__wrapper {
display: grid;
text-align: center;
}
.free h3 {
font-size: 2.6rem;
font-weight: 700;
margin-top: 2rem;
}
.free p {
font-size: 1.7rem;
font-weight: 500;
margin-bottom: 2.5rem;
}
.free a {
font-size: 1.5rem;
background: #2b2b2b;
color:#ffffff;
border-radius: 5rem;
max-width: 150rem;
margin: 0 auto;
padding: 2rem 3rem;
}
.free .free__wrapper a:hover {
scale: 1.1;
}
@media screen and (max-width: 500px){
.free h3{
  font-size: 1.8rem;
}
.free p{
  font-size: 1.2rem;
}
.free a {
  font-size: 1rem;
  border-radius: 5rem;
  max-width: 100rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  margin-bottom: 4rem;
}
}
/* FOOTER */
.footer {
background: #2b2b2b;
width: 100%;
}
.footer .footer__wrapper {
display: flex;
justify-content: space-between;
}
.footer .footer__social {
display: flex;
flex-direction: row;
padding: 2.5rem;
gap: 5rem;
}
.footer .footer__wrapper ul li a {
color: dimgray;
font-size: 2.5rem;
}
.footer .footer__wrapper ul {
display: flex;
gap: 1.25rem;
}
.footer p {
color: dimgray;
display: flex;
align-items: center;
}
@media screen and (max-width: 500px) {
.footer .footer__wrapper {
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
}
}
/* ABOUT ME 2 */
.bro .bro__wrapper{
display: grid;
grid-template-columns: 1fr 1fr;
align-items:center;
gap: 15rem;
padding-top: 14rem;
}
.bro .bro__text h1{
font-size: 9rem;
font-weight:800;
color:#ffa700;
margin-bottom: 4rem;
}
.bro .bro__text {
text-align: justify;
}
.bro .bro__text p:first-child {
margin-bottom: -3rem;
}
.bro .bro__text :nth-child(3){
margin-bottom: 3rem;
}
.bro .bro__wrapper img {
padding-top: 5rem;
padding-bottom: 7rem;
}
.bro .bro__text ul li a {
color: #ffa700;
font-size: 2.5rem;
}
.bro .bro__text ul {
display: flex;
flex-direction: row;
gap: 1.25rem;
padding-top: 4rem;
}
.bro .brod {
color: #ffa700;
display: block;
margin: 2rem auto; 
padding: 1rem;
background-color: transparent; 
border: none;
font-size: 4rem;
text-align: center;
cursor: pointer;
}
.brod :hover {
scale: 1.1;
}
@media screen and (max-width:500px){
.bro{
  padding-left: 2rem;
  padding-right: 2rem;
}
.bro .bro__wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}
.bro .bro__text h1{
  font-size: 27px;
  text-align: center;
}
.bro .bro__text p {
  font-size: 1.5rem;
}
.bro .bro__text p:first-child {
  margin-bottom: 0.5rem;
  font-size: 11px; 
  text-align: center;
}
.bro .bro__text {
  justify-items: center;
}
.bro img{
  width: 20rem;
  margin:  0 auto;
}
}

/* MRP */
.latest2 {
background: #2b2b2b;
padding:5rem 0;
}
.latest2 .latest2__wrapper{
display:grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 5rem;
}
.latest2 .latest2__title h2 {
color:#ffa700;
font-size: 5rem;
font-weight: 600;
}
.latest2 .latest2__title p {
color: #ffffff;
margin-top: 1.5rem;
font-size: 2rem;
}
.latest2 .latest2__title {
margin-bottom: 8rem;
}
.latest2 .latest2__card {
background: #ffffff;
border-radius: 2rem;
}
.latest2 .latest2__text {
padding: 1.5rem 2rem;
}
.latest2 .latest2__text h4{
color:#ffa700;
font-weight: 600;
}
.latest2 .latest2__text p {
margin-top: 2rem;
margin-bottom: 4rem;
}

@media screen and (max-width: 500px){
.latest2 .latest2__title {
  text-align: center;
}
.latest2 .latest2__title h2 {
  font-size: 4rem;
}
.latest2 .latest2__title p {
  font-size: 1.5rem;
}
.latest2 .latest2__wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
.latest2 .latest2__card {
  margin: 0 2rem;
}
.latest2 .latest2__card img {
  width: 100%;
}
}
/* ADW */
.water {
  padding-top: 10rem;
  padding-bottom: 2rem;
  background: #ffffff;
}
.water .water__wrapper {
  display: flex;
  align-items: center;
  max-width: 117rem;
  margin: 0 auto;
  gap: 15rem;
}

.water .water__text h1 {
  font-size: 5rem;
  padding-bottom: 2rem;
  font-weight: 800;
  color: #ffa700;
}
.water .water__text p {
  text-align: justify;
  margin-bottom: 0;
  margin-top: 2rem;
}
.water .water__text h2 {
  font-size: 4rem;
  font-weight: 200;
  color: #ffa700;
}
.water .water__text h6 {
  font-size: 1rem;
  color: #2b2b2b;
}
.water img {
  padding-left: 8rem;
  padding-top: 7rem;
  padding-bottom: 3.5rem;
}
.services:nth-child(even) {
  background-color: #2b2b2b;
  color: #ffffff;
}
.services:nth-child(even) h6 {
  color: #ffffff;
}
.services:nth-child(even) .water__wrapper {
  flex-direction: row-reverse;
}
.services .blue {
  color: #ffa700;
  display: block;
  margin: 2rem auto;
  padding: 1rem;
  background-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 4rem;
}
.water .services:last-child .blue {
  display: none;
}

/* ADW MV */
@media screen and (max-width: 500px) {
  .water {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
  }
  .water .water__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 2rem;
  }
  .water .water__text {
    order: 2;
  }
  .water .water__text h1 {
    font-size: 5rem;
    text-align: center;
    font-size: 4rem;
    margin-top: -15rem;
  }
  .water .water__text p {
    text-align: justify;
    font-size: 1;
    margin: 2%;
  }
  .water img {
    width: 23rem;
    margin: 6rem;
    padding-bottom: 0rem;
  }
} 

/* updates/ */
.update .trend__post{
  border-bottom: 1px solid #2b2b2b;
} 
.update .trend__post:not(:first-child){
  padding: 3rem 0;
}
.update .trend__post:last-child{
  border-bottom: none;
}
.update .update__item{
  border-bottom: 1px solid #2b2b2b;
}
.update .update__item:not(:first-child){
  padding: 3rem 0;
}
.update .update__item:last-child{
  border-bottom: none;
}
.update .update__item h4{
  color: #ffa700;
  font-size:2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.update .update__item table{
  width:100%;
}
.update .update__item table tr{
  height:5rem;
}
.update .update__item .update__item__content{
  display:flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
.update .update__item ul{
  display: flex;
  max-width: 40rem;
  flex-wrap: wrap;
  gap: 2rem;
}
.update .update__item ul li a{
  display: inline-block;
  border:1px solid #2b2b2b;
  padding: 1rem 2rem;
  border-radius: 5rem;
  color: black;
}
.update .container {
   display: grid;
   grid-template-columns: 2.5fr 1.5fr;
   grid-gap:5rem;
  }
/* ### Trends Section ### */
.trend__wrapper {
    padding-top: 13rem;
}
.intro {
    color: #ffa700;
    font-size: 5rem;
    font-weight: 600;
}
.parabola {
    padding-bottom: 2rem;
}
/* ### Trend Post Content ### */
.trend__post ul {
    display: flex;            
    gap: 15px;                
    list-style: none;         
    padding: 0;               
    margin: 0;                
}
.trend__post ul li {
    display: flex;            
    align-items: center;     
    padding-bottom: 1rem; 
}
.trend__post ul li a {
    text-decoration: none;    
    color: #333;             
}
.trend__post h2 {
    color: #ffa700;
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 4rem;
}
.trend__post p {
    max-width: 719px;
}
/* ### Separator Line ### */
.separator {
    border: 0;
    border-top: 3px solid #ccc; 
    margin: 20px 0; 
    max-width: 719px;
}
/* ### Sidebar Section ### */
.sidepannel {
    flex: 1;  
    padding-top: 32rem;
}
/* ### Trend Post Layout ### */
.trend__post {
    margin-bottom: 30px;
}
.trend__post a {
    color: #ffa700;
}
.trend__post p {
    padding-bottom: 3rem;
}
.trend__post img {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.update .update__item ul li a:hover {
    background-color: #2b2b2b; 
    color: white; 
}
@media screen and (max-width: 5500px) {
  .update .trend__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
  .update .trend__intro {
    text-align: center;
  }
  
}
.update .update__item__content h5{
  padding-bottom: 3rem;
}
/* CONTACTS */

.contact {
  padding: 2rem;
  background-color: #2b2b2b;
  padding-top: 16rem;
  padding-bottom: 6.1rem;
}
.contact__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 150rem;
  margin: 0 auto;
}
.contact__wrapper {
  flex: 1;
  margin-right: 6rem;
}
.contact__title h2 {
  color: #ff9900;
  font-size: 4.5rem;
  margin-bottom: 2.5rem;
  font-weight: 600;
}
.contact__title p {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 4rem;
}
.contact__details td {
  color: white; 
}
.contact__details td i {
  color: #ffa700; 
}
.contact__details td {
  padding: 0 5px; 
  color: white;   
  padding-bottom: 3rem;
}
.contact__details td i {
  color: #ffa700 
}
.contact__line {
  border: 0;
  border-top: 2px solid #cccccc;
  margin-bottom: 4rem;
}
.contact__horizontal ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.25rem;
}
.contact__horizontal ul li {
  display: inline-block;
}
.contact__horizontal ul li a {
  color: #ffffff;
  font-size: 3rem;
  text-decoration: none;
}
.contact__details ul li {
  gap: 3rem;
  display: flex;
  align-items: center;
  margin: 1.25rem 0;
  color: #ffa700;
}
.contact .contact__title table tr {
  padding-left: 10rem;
}
.contact .contact__title table {
  height: 10rem;
}
.contact .contact__horizontal {
  color: #ffffff;
}
.contact__details .icon {
  margin-right: 1.25rem;
}
.contact__form {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.contact__form label {
  font-size: 1.75rem;
  margin-bottom: 0.625rem;
}
.contact__inputs {
  background-color: #f2f2f2;
  border: none;
  padding: 1.25rem;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  width: 100%; 
}
.contact__inputs {
  background-color: #f2f2f2;
  border: none;
  padding: 1.25rem;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  width: 100%;
  border-radius: 10px; 
}
.contact__form{
  padding-top: 9rem;
  padding-bottom:  3rem;
}
.submit {
  background-color: #ff9900;
  color: #ffffff;
  border: none;
  padding: 1rem 3rem; 
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto; 
  display: block;
  text-align: right;
  border-radius: 5rem;
}
.button .submit{
  padding-top: 3rem;
}
.submit:hover {
  background-color: #ffffff;
  color: #000000;
}
#message {
  height: 200px; 
}
.popup.hidden {
  display: none;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-content {
  background: white;
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
}
.popup-close {
  background-color: #ff9900;
  border: none;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.popup-close:hover {
  background-color: #e68a00;
}
.contact {
  border-bottom: 1px solid #ffffff;
} 

/* Mobile View Contacts */

@media (max-width: 500px) {
  .contact__container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .contact__title h2 {
    text-align: center;
  }
  .contact__title {
    margin: 0 auto;
    justify-items: center;
  }
  .contact__title p{
    text-align: center;
  }

  .submit{
    margin: 0 auto
  }
  .contact {
    padding-top: 10rem ;
    padding-bottom: 5rem;
    
  }
  .contact__wrapper {
  margin-right: 0rem;
}
}
/* REPEATABLE PATTERNS */
.backToTop{
  position: fixed;
  z-index: 999;
  bottom: 5rem;
  right: 5rem;
  color: #2b2b2b;
  display: none;
}
.backToTop.open {
  display: block;
}
.backToTop a{
  background: #ffa700;
  padding: 1rem;
  border-radius: 5rem;
}
.btn{
  display: inline-block;
  padding:1.5rem 2rem;
  border-radius: 5rem;
  color:#ffffff;
  }
  .btn:hover {
  scale: 1.1;
  }
  .btn.bg--primary{
  background:#ffa700;
  }